@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --white: #ffffff;
}

* {
  scroll-behavior: smooth;
}

body {
  background-color: var(--white);
  height: 1000vh;
}

.hero-container,
.council-container {
  background-image: url("../public/herocontainer.png");
  background-position: center;
  background-size: cover;
  background-attachment: fixed;

  color: var(--white);
}

.hero-container {
  display: flex;
  justify-content: center;
  align-items: center;
}

.swiper_container {
  height: 52rem;
  padding: 2rem 0;
  position: relative;
}

.council-container {
  /* max-width: 124rem;
  padding: 4rem 1rem;
  margin: 0 auto; */
}
