@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --white: #ffffff;
}

* {
  scroll-behavior: smooth;
}

body {
  background-color: var(--white);
}

.hero-container,
.council-container {
  background-image: url("../public/herocontainer.png");
  background-position: center;
  background-size: cover;
  background-attachment: fixed;

  color: var(--white);
}

.hero-container {
  display: flex;
  justify-content: center;
  align-items: center;
}